html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#flag {
    height: 100%;
    width: 100%;
}
.stripe {
    height: 33.33%;
}
#schwarz {
    background: #000;
    color: #EEE;
}
#rot {
    background: #F00;
}
#gold {
    background: #FC0;
}
